body {
	background-color: #a7b5e7;
}

header {
	text-align: center; 
	background-image: url(../images/туманэ.jpg);
	height: 400px;
background-repeat: no-repeat;
background-position: left;
background-color: #020305;
background-attachment: fixed;
background-size:cover;
padding-left: 250px;
padding-top: 100px;
}
wrapper {
	max-width: 1024px;
	margin: 0 auto;
	background-color: brown;
}
ul {
	list-style: none; /*убираем маркеры списка*/
	margin: 0; /*убираем отступы*/
	padding-left: 0; /*убираем отступы*/
	margin-top:25px; /*делаем отступ сверху*/
	background:#F44; /*добавляем фон всему меню*/
	height: 50px; /*задаем высоту*/
  }
  a {
	text-decoration: none; /*убираем подчеркивание текста ссылок*/
	background:#FF4444; /*добавляем фон к пункту меню*/
	color:#fff; /*меняем цвет ссылок*/
	padding:0px 15px; /*добавляем отступ*/
	font-family: arial; /*меняем шрифт*/
	line-height:50px; /*ровняем меню по вертикали*/
	display: block; 
	border-right: 1px solid #F36262; /*добавляем бордюр справа*/
	-moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
  
  }
  a:hover {
	background:#D43737;/*добавляем эффект при наведении*/
  }
  li {
	float:left; /*Размещаем список горизонтально для реализации меню*/
  }