body {
	background-color: #e2e7f8;
}

header {
	text-align: center; 
	background-image: url(../images/туманэ.jpg);
	height: 400px;
background-repeat: no-repeat;
background-position: left;
background-color: #020305;
background-attachment: fixed;
background-size:cover;
padding-left: 250px;
padding-top: 100px;
}
.wrapper {
	max-width: 1024px;
	margin: 0 auto;
	
}
ul {
	list-style: none; /*убираем маркеры списка*/
	margin: 0; /*убираем отступы*/
	padding-left: 0; /*убираем отступы*/
	margin-top:0px; /*делаем отступ сверху*/
	background:#2c452f, 216, 206; /*добавляем фон всему меню*/
	height: 50px; /*задаем высоту*/
  }
  a {
	text-decoration: none; /*убираем подчеркивание текста ссылок*/
	background:#8d9894; /*добавляем фон к пункту меню*/
	color:#fff; /*меняем цвет ссылок*/
	padding:0px 15px; /*добавляем отступ*/fff
	font-family: arial; /*меняем шрифт*/
	line-height:50px; /*ровняем меню по вертикали*/
	display: block; 
	border-right: 1px solid #F36262; /*добавляем бордюр справа*/
	-moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
  
  }
  a:hover {
	background:#f6ffc2;/*добавляем эффект при наведении*/
  }
  li {
	float:left; /*Размещаем список горизонтально для реализации меню*/
  }

.wrapper-1 {
	background-color: #d1ddd9

}
.wrapper-2 {
		background-color: #8d9894
	
}
.wrapper-3 {
		background-color: #d1ddd9
		
}
.wrapper-4 {
	background-color: #8d9894
	
}
.wrap ol {
	list-style-position: inside;
	-moz-column-count: 2; /* Firefox */
	-webkit-column-count: 2; /* Safari and Chrome */
	column-count: 2;
	list-style-type: decimal;
	height: 200px;
  }
  .btn {
    padding: 0.5em 1.5em; /* Поля по вертикали и горизонтали */
    font-size: 0.9em; /* Размер текста */
    color: #fff; /* Белый цвет текста */
    background-color: #67ada9; /* Цвет фона кнопки */
    border-width: 0; /* Убираем рамку */
    border-bottom: 4px solid #547b80; /* Линия снизу */
    border-radius: 0.4em; /* Радиус скругления */
	margin-right:50%;
	margin-left:46%;
   }
.markers {
	margin: 0 0 20px 24px;
	padding: 0;
	list-style-type: "⚡ ";
}
.markers li-2 {
	margin: 7px 0;
	font-size: 14px;
}





.table-2 {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.table-2 thead th {
	font-weight: bold;
	text-align: center;
	border: none;
	padding: 10px 15px;
	background: #2c452f, 216, 206;
	font-size: 14px;
}
.table-2 thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
.table-2 thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
.table-2 tbody td {
	text-align: center;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.table-2 tbody tr:nth-child(even){
	background: #f3f3f3;
}
.table-2 tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
.table-2 tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}