body {
	background-color: #a7b5e7;
}

header {
	text-align: center; 
	background-image: url(../images/фон.jpg);
	height: 400px;
background-repeat: no-repeat;
background-position: left;
background-color: #020305;
background-attachment: fixed;
background-size:cover;
padding-left: 250px;
padding-top: 100px;
}